<a href="https://colab.research.google.com/github/eupshin/bootcamp/blob/main/case4_1_time1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/eupshin/bootcamp/main/case4_1_time1.csv')

In [3]:
df[:3]

             time1  CAPM10  CAPM2.5  CAPM1  ...  RAPM1  SAPM10  SAPM2.5  SAPM1
0  2021-03-16 9:02    26.7     17.4   10.0  ...    7.5     1.0      1.0    0.7
1  2021-03-16 9:02    32.1     17.4   10.2  ...    7.5     1.6      1.5    0.9
2  2021-03-16 9:03    34.7     19.5   10.2  ...    7.9     1.2      1.2    1.2

[3 rows x 10 columns]

In [4]:
df = df.copy()

In [5]:
df.isnull().sum()

time1      61
CAPM10     61
CAPM2.5    61
CAPM1      61
RAPM10     67
RAPM2.5    67
RAPM1      67
SAPM10      0
SAPM2.5     0
SAPM1       0
dtype: int64

In [6]:
df2 = df.dropna()
print(df2.shape)
df2[:5]

(3898, 10)

             time1  CAPM10  CAPM2.5  CAPM1  ...  RAPM1  SAPM10  SAPM2.5  SAPM1
0  2021-03-16 9:02    26.7     17.4   10.0  ...    7.5     1.0      1.0    0.7
1  2021-03-16 9:02    32.1     17.4   10.2  ...    7.5     1.6      1.5    0.9
2  2021-03-16 9:03    34.7     19.5   10.2  ...    7.9     1.2      1.2    1.2
3  2021-03-16 9:03    46.7     19.2   10.7  ...    7.4     0.8      0.8    0.8
4  2021-03-16 9:03   128.6     25.2   11.0  ...    7.7     1.0      1.0    1.0

[5 rows x 10 columns]

In [7]:
df2.isnull().sum()

time1      0
CAPM10     0
CAPM2.5    0
CAPM1      0
RAPM10     0
RAPM2.5    0
RAPM1      0
SAPM10     0
SAPM2.5    0
SAPM1      0
dtype: int64

In [8]:
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()
df[['CAPM10_sc','CAPM2.5_sc','CAPM1_sc','RAPM10_sc','RAPM2.5_sc','RAPM1_sc','SAPM10_sc','SAPM2.5_sc','SAPM1_sc']]=scale.fit_transform(df[['CAPM10','CAPM2.5','CAPM1','RAPM10','RAPM2.5','RAPM1','SAPM10','SAPM2.5','SAPM1']])
df[:5]

             time1  CAPM10  CAPM2.5  ...  SAPM10_sc  SAPM2.5_sc  SAPM1_sc
0  2021-03-16 9:02    26.7     17.4  ...  -0.456928   -0.567741 -0.804233
1  2021-03-16 9:02    32.1     17.4  ...  -0.437665   -0.514951 -0.747027
2  2021-03-16 9:03    34.7     19.5  ...  -0.450507   -0.546625 -0.661219
3  2021-03-16 9:03    46.7     19.2  ...  -0.463348   -0.588857 -0.775630
4  2021-03-16 9:03   128.6     25.2  ...  -0.456928   -0.567741 -0.718425

[5 rows x 19 columns]